.signin{
    position: relative;
    h2{font-size: 18px !important;text-align: center;
        position: relative;
        margin:10px 0 20px 0;
        color: rgba(11, 201, 74, 0.993);
    }
    
    .forgot{
       display: flex;
       justify-content: space-between;
       margin-top: 10px;
       a{
           color: #000;
       }
    }
  
    
    
    
}


