.cart-page{
        min-height: 80vh;
    .cart-header{
        display: flex;
        border-bottom: 1px solid #ccc;
        padding: 20px 0;
        .header-block{
            width: 23%;
            &:last-child{
                width: 8%;
            }
        }
        
    }

    a{
        color: #000;
    }
    .empty{
        margin-top: 100px;
        padding: 20px;
    }
    
}
.right{
    text-align: center;
    margin-top: 20px;
    background: #f9f9f9;
    padding: 50px;
    .total{
        text-align: left;
        margin-bottom: 50px;
        font-size: 24px;
    }
    .checkout{
        background: #000;
        border-radius: 0px !important;
        padding: 10px 40px;
        color: #fff;
    }
}