.checkout-page{
   min-height: 500px;
    .checkout-header{
        display: flex;
        border-bottom: 1px solid #ccc;
        padding: 20px 0;
        .header-block{
            width: 23%;
            &:last-child{
                width: 8%;
            }
        }
    }
    .total{
        text-align: right;
    }
    a{
        color: #000;
    }
}