button{
    border-radius: 50px !important;
    /* height: px; */
    background: transparent;
    text-align: center;
  
    &.submit{
        background: rgb(25, 133, 206);
        color:#fff;
    }
    &.logout{
        background: transparent;
    }
    &.signup{
        background: rgb(25, 133, 206);
        color:#fff;
    }
    &.signin{
        background: rgba(11, 201, 74, 0.993);
        color:#fff;
    }
    
    &.reset{
        background: rgba(11, 201, 74, 0.993);
        color:#fff;
    }
    &.goback{
        background: rgba(97, 97, 97, 0.993);
        color:#fff;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        position: absolute;
    }
    &.product{
        background: rgba(11, 201, 74, 0.993);
        color:#fff;
    }
    &.view{
        border-radius: 0px !important;
        background: rgb(235, 235, 235);
        color: rgb(39, 39, 39);
        border:0px;
        
    }
    &.view-cart{
        border-radius: 0px !important;
        background: rgb(41, 41, 41);
        border:0px;
        a{
            color: rgb(228, 228, 228);
            text-decoration: none;
        }
    }
    &.cart{
        border-radius: 0px !important;
        background: rgb(219, 68, 42);
        color: #fff;
        border:0px;
    }
    &.order{
        background: rgb(41, 41, 41);
        color: rgb(228, 228, 228);
        border-radius: 0px !important;
    }

}

button[type="submit"]{
    width: 100%;
    &.submit:hover{
        background: rgb(29, 90, 180);
        color:#fff;
    }
    &.signup:hover{
        background: rgb(29, 90, 180);
        color:#fff;
    }
    &.signin:hover{
        background: rgba(11, 182, 68, 0.993);
        color:#fff;
    }
    &.reset:hover{
        background: rgba(11, 182, 68, 0.993);
        color:#fff;
    }
    &.product:hover{
        background: rgba(11, 182, 68, 0.993);
        color:#fff;
    }
}
