.signup{
    h2{font-size: 18px !important;text-align: center;
        position: relative;
        margin: 30px 0;
        color: rgb(25, 133, 206);
    &::before{
        content:'';
        position: absolute;
        height: 1px;
        width: 20%;
        background: #ccc;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    &::after{
        content:'';
        position: absolute;
        height: 1px;
        width: 20%;
        background: #ccc;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    }
}

