
.navbar-brand{
    font-weight: 500;
    color: rgb(74, 214, 97) !important;
    span{
        font-weight: 400;
        color: rgb(34, 34, 34);
    }
}
.dash-link{text-decoration: none !important;color: #3f61f5;}